<h2><em>Yeetus Deletus</em></h2>
<h2>Hella fucking stupid Coach</h2>
<form action="/answer" method="get">
  <input type="text" name="coach_input" placeholder="Say sumtin'">
  <input type="submit" value="Ask!">
</form>
